@dark-color: #222;
@primary-color: #FFC300;

body {
    background: #f5f7f9;
}
section {
    width: 100%;
    &.withPaddingTop {
        padding-top: 2em;
    }
    &.withPaddingBottom {
        padding-bottom: 2em;
    }
    &.withBackground {
        background: #f5f7f9;
        z-index: 6;
        position: relative;
    }
}
.container{
    position: relative;
    width: 1127px;
    margin: auto;
    &.mini{
        width: 700px;
    }
}
.wall{
    // background: url('https://strapi.io/assets/images/bg_pattern.png') @dark-color;
    background: rgba(0,0,0,.85);
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 160px;
    padding-top: 120px;
    h1{
        color: #f3f3f3;
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .details{
        padding-top: 1em;
        text-align: center;
        color: #d6d6d6;
    }
    .blurred{
        position: absolute;
        top: 0;
        left: -10px;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        height: 100%;
        width: calc(100% + 20px);
        z-index: -1;
        .middle{
            position: relative;
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}


.upped{
    position: relative;
}


article {
    width: 700px;
    margin: -80px auto 50px;
    background: #fff;
    border: 1px solid #eaecee;
    position: relative;
    border-radius: 7px;
    .Image {
        margin: -1px -1px 0px -1px;
        position: relative;
        background: #eee;
        display: block;
        width: calc(100% + 2px);
        height: 350px;
        overflow: hidden;
        transition: all .3s;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        img {
            position: absolute;
            width: 100%;
            min-height: 350px;
            top: 0%;
            left: 50%;
            transition: all .3s;
            transform: translate(-50%, 0%);
        }
    }
    .content {
        width: 578px;
        margin: 0 auto;
        padding: 37px 0;
        color: #4c555a;
        p {
            font-size: 16px;
            line-height: 1.8;
            margin: 15px 0;
        }
        img {
            margin: 35px -60px;
            width: calc(100% + 120px);
        }
        blockquote{
            margin-top: 41px;
            margin-bottom: 34px;
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
            border-left: 5px solid rgb(238, 238, 238);
            padding: 0 20px;
        }
    }
}



.sharing{
    width: 180px;
    position: absolute;
    left: -203px;
    top: 210px;
    z-index: 5;
    .icons{
        .iconSharing{
            display: inline-block;
            padding: 8px;
            border-radius: 40px;
            margin-right: 5px;
            transition: all .3s;
            &.facebook{
                background: #4267b2;
            }
            &.whatsapp{
                background: #1da851;
            }
            &.twitter{
                background: #0c85d0;
            }
            svg{
                transform: scale(.88);
                vertical-align: top;
            }
            &:hover{
                cursor: pointer;
                transform: scale(.95);
                transition: all .3s;
            }
        }
    }
}

.moreNews{
    .ant-col{
        display: flex;
        justify-content: center;
        .ant-card{
            width: 95%;
            .ant-card-cover{
                height: 200px;
                overflow: hidden;
                position: relative;
                img{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.carousel{
    position: relative;
    margin-bottom: -5px;
    overflow: hidden;
    .sliderWall{
        height: 450px;
        width: 100%;
        position: relative;
        overflow: hidden;
        &:after{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
        }
        img{
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: top;
        }
    }
    .ant-carousel .slick-dots-bottom {
        bottom: 75px !important;
    }
    svg{
        position: absolute;
        bottom: 13px;
        width: 100%;
        transform: scale(1.3);
        fill: #f5f7f9;
    }
}

.getSponsor{
    background: #212830;
    padding: 1em;
    .container{
        background: #FFC300;
        border-radius: 10px;
        padding: 1em;
    }

}



.radio {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: #fff;
    border: 1px solid #eee;
    padding: 1em;
    iframe{
        height: 50px;
    }
}


.home{
    padding-top: 10px;
    h1{
        font-size: 39px;
        font-weight: 600;
        margin-bottom: 1px;
    }
}

.featureNews{
    width: 100%;
    position: relative;
    height: 400px;
    margin-bottom: 10px;
    .ant-col{
        height: 100%;
    }
    .middle-out{
        height: 100%;
    }
    .middle{
        height: 50%
    }
    .middle-out .middle:first-of-type{
        padding-bottom: 5px;
    }
    .middle-out .middle:last-of-type{
        padding-top: 5px;
    }
    .col-12-with-spaces{
        width: calc(50% - 5px);
    }
    .col-12-with-spaces:first-of-type{
        margin-right: 5px;
    }
    .col-12-with-spaces:last-of-type{
        margin-left: 5px;
    }
    .marginBottom{
        padding-bottom: 5px;
    }
}

.bar{
    background: #FFC300;
    height: 4px;
    width: 30%;
    &.bottom{
        margin-bottom: 20px;
    }
}
.boxNew{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    .cover{
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &:after{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
        }
        &.vertical{
            img {
                left: 50%;
                top: 0%;
                height: 100% !important;
                width: auto !important;
                transform: translate(-50%, 0%);
            }
        }
        img{
            position: absolute;
            top: 0%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0%);
            transition: all .3s;
        }
    }
    &:hover{
        .cover{
            img{
                transform: translate(-50%, 0%) scale(1.05);
                transition: all .3s;
            }
        }
    }
    .title{
        position: absolute;
        bottom: 11px;
        left: 1em;
        user-select: none;
        h2{
            color: #fff;
            text-shadow: 0 0 3px #333;
            font-size: 21px;
            margin-bottom: 1px;
        }
        p{
            color: #ddd;
            width: 100%;
            font-size: 15px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}

.more{
    margin-top: 90px;
    height: 400px;
    position: relative;
    .ant-col{
        height: 100%;
    }
    .boxNew{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        .container{
            .text{
                position: absolute;
                z-index: 999;
                top: 50%;
                transform: translateY(-50%);
                h2{
                    font-size: 40px;
                    color: #fff;
                    text-shadow: 0 0 3px #333;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
                h3{
                    font-size: 28px;
                    color: #eee;
                    text-shadow: 0 0 3px #333;
                    font-weight: 400;
                }
            }
        }
        .cover{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            cursor: default;
            &:after{
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.4);
            }
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                transition: all .3s;
            }
        }
    }
}
.sponsors{
    padding-right: 1em;
    margin-bottom: 1em;
    img{
        width: 100%;
        margin-bottom: 1em;
    }
}

.latestNews{
    // display: flex;
    // flex-direction: column;
    .count.ant-tag{
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 9;
    }
    .date.ant-tag{
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 9;
    }
    .line{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        .half{
            width: 50%;
            // margin-bottom: 10px;
            &:first-of-type{
                margin-right: 5px;
            }
            &:last-of-type{
                margin-left: 5px;
            }
        }
        .half.line-half > .line{
            height: 50%;
        }
        .half.line-half > .line:first-of-type{
            padding-bottom: 5px;
        }
        .half.line-half > .line:last-of-type{
            padding-top: 5px;
        }
    }
}
.latestNews > .line {
    padding-bottom: 10px;
    height: 350px;
}


.boxNew.bottom{
    border-radius: 0 !important;
    .cover{
        border-radius: 0 !important;
    }
    .container{
        height: 100%;
    }
}
@media (max-width: 768px) {
    .container{
        width: 100% !important;
        margin: auto;
        &.mini{
            width: 100% !important;
        }
    }
    .container > .ant-row{
        margin: 0 1em;
    }

    .latestNews{
        // display: flex;
        // flex-direction: column;
        .line{
            width: 100%;
            display: flex;
            flex-direction: column;
            .half{
                width: 100%;
                min-height: 250px;
                // margin-bottom: 10px;
                &:first-of-type{
                    margin-right: 0px;
                }
                &:last-of-type{
                    margin-left: 0px;
                }
            }
            .half.line-half > .line{
                height: auto;
                width: 100%;
                height: 250px;
            }
            .half.line-half > .line:first-of-type{
                padding-bottom: 0px;
            }
            .half.line-half > .line:last-of-type{
                padding-top: 0px;
            }
        }
        .boxNew{
            height: 250px;
            margin-bottom: 1em;
            overflow: hidden;
        }
    }
    .latestNews > .line {
        padding-bottom: 0px;
        height: auto;
    }
    .carousel{
        .sliderWall{
            height: 270px !important;
            img{
                height: 100%;
            }
        }
        svg {
            bottom: -26px;
        }
    }
    .radio {
        position: fixed;
        bottom: 0em;
        right: 0em;
        background: #fff;
        border: 1px solid #eee;
        padding: 0 1em;
        width: 100%;
        iframe{
            height: 50px;
        }
    }
    .wall {
        padding: 100px 1em 170px 1em;
    }
    article {
        width: 100%;
        .Image {
            overflow: hidden;
            margin: -40px 5% 0px 5%;
            width: 90%;
        }
        .content {
            width: 90%;
            img {
                margin: 35px -5% 35px calc(-5% - 3px);
                width: calc(100% + 10% + 6px);
            }
        }
    }
    .ant-page-header-back {
        float: left;
        margin: 8px 17px;
        margin-right: 16px;
        font-size: 22px;
        line-height: 1;
    }
    .ant-page-header-heading-title{
        padding-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 77%;
    }
    .ant-page-header-heading-sub-title{
        display: none;
    }
    .sharing{
        margin-top: 4em;
        background: #eee;
        padding: 2em;
        width: 100%;
        height: 170px !important;
        position: relative;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 5;
        div[aria-hidden="true"]{
            display: none;
        }
        .ant-affix{
            position: initial !important;
        }
    }
    .ant-affix header{
        .logo{
            left: 1em !important;
        }
    }
    header{
        .logo{
            left: 1em !important;
        }
        .letters{
            display: none;
        }
        .textAlignRight{
            float: right;
            width: 80%;
        }
    }
}