@dark-color: #111;

.ant-affix header{
    background: @dark-color;
    padding: 1px !important;
    transition: all .7s;
    z-index: 9999;
    .logo{
        margin-top: -1px;
        padding-top: 0px;
        height: 35px;
        width: 45px;
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        transition: all .3s;
    }
    .letters{
        visibility: hidden;
        opacity: 0;
    }
}

header{
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1px;
    transition: all .3s;
    z-index: 999;
    .logo{
        padding-top: 4px;
        height: 49px;
        width: 55px;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translate(0%, -50%);
        transition: all .3s;
        z-index: 99;
    }
    .letters{
        top: 78px !important;
        left: 0px !important;
        width: 130px !important;
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
    .ant-row::before, .ant-row::after {
        display: table;
        content: none !important;
    }
    .ant-menu {
        color: rgba(255,255,255,.7);
        font-weight: 500;
        background: transparent !important;
        border-bottom: 1px solid transparent !important;
    }
    .textAlignRight{
        text-align: right;
    }
}
.headerFixed{
    .ant-affix{
        border-bottom: 1px solid #d0d0d0;
        background: #f5f7f9;
        height: 52px !important;
        transition: all .3s;
        .ant-page-header{
            display: block;
            transition: all .3s;
        }
    }
    .ant-page-header{
        border-top: 1px solid transparent;
        padding: 6px 0 10px;
        display: none;
        transition: all .3s;
    }
    .ant-page-header-back-button{
        color: @dark-color;
        &:hover {
            color: #ffd429;
        }
    }
    .ant-page-header-heading-title{
        color: @dark-color;
    }
    .ant-page-header-heading-sub-title{
        margin: 7px 0 5px;
    }
}